# Twitter API key
TWITTER_BEARER_TOKEN=

# Airtable variables
AIR_API_KEY=
GRANTS_TABLE_NAME="Meta Cartel Grant Round Nov21-Jan22"
EVENTS_TABLE_NAME="MetaCartel Events"
MANIFESTO_TABLE_NAME="Manifesto Signatures"
BASE_ID=appWsfebn79bII12n

# Next.js variables
# NEXTAUTH_SECRET be generated locally using `openssl rand -hex 32` from the command line
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
VERCEL_URL=

# Web3 provider
# Can be generated with a free Alchemy account at https://www.alchemy.com/
ALCHEMY_API_KEY=

# Optionally enable testnet connections; default to false
NEXT_PUBLIC_ENABLE_TESTNETS=false

# arweave
ARWEAVE_KEY= { }
ARWEAVE_OWNER_ADDRESS=""
NEXT_PUBLIC_ARWEAVE_TX_ID=""

# Google calendar read-events API key
GOOGLE_API_KEY=
GOOGLE_CALENDAR_ID=metacarteldao@gmail.com
